# __Data Science Tools and Ecosystem__

In this notebook, Data Science Tools and Ecosytem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular libraries for Data Science
- Table of Data Science Tools
- Examples of Arithmetic Expressions

__Some of the popular languages that Data Scientists use are:__
1. Python
2. R
3. Julia
4. SQL

__Some of the popular libraries used by Data Scientists include:__
1. Pandas
2. Scikit-learn
3. Numpy
4. Seaborn

|Data Science Tools| 
| ------ | 
| TensorFlow |
| Jupyter Notebook|
| Scikit-Learn |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
hours=200/60
print("Hours=",hours)

Hours= 3.3333333333333335

## Author
Ayaan Parkar